*{
    margin: 0;
    padding: 0;
}
hr.dotted {
    border: none;
    border-top: 2px dotted #000;
    width: 80%;   
    margin: 0 auto; 
    margin-top: 40px; ;
  }
  

  .search-box {
    width: 70%;
    margin: 0 auto; 
  }
  